.table>:not(caption)>*>* {
    background-color: unset;
}
.table {
    overflow-x: scroll;
    position: relative;
    &__thead {
        position: sticky;
        z-index: 1;
        background-color: #f1f4f7;
        border-bottom: 1px solid rgb(206 216 225);

        &-tr {
            &-th {
                padding: 10px 14px !important;
                font-weight: 600;
                color: rgb(100 116 139) !important;

            }
        }
    }

    &__tbody {
        position: relative;
        z-index: 0;

        &-tr {
            &-th {
                padding: 10px 14px !important;
                border-bottom: 1px solid rgb(206 216 225);
                font-weight: 500;
                font-size: 16px;
                color: rgb(100 116 139) !important;
            }
        }
    }
}
