.senders {
    margin-top: 48px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 24px 0;

    &__header {
        padding: 0 24px 24px 24px;
        border-bottom: 1px solid #e1e1e1;

        &-text {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.33;
        }
    }

    &__list {

    }

    &__item {
        padding: 24px;
        display: grid;
        border-bottom: 1px solid #e1e1e1;
        grid-template-columns: 25% auto;

        //&:not(:last-child) {
        //    border-bottom: 1px solid #e1e1e1;
        //}

        &:last-child {
            //border-bottom: unset !important;
        }

        &-left {
            display: flex;
            column-gap: 16px;
            align-items: center;

            &-icon {
                width: 24px;
            }

            &-info {
                display: flex;
                flex-direction: column;
                row-gap: 9px;
            }
        }

        &-right {
            display: flex;
            flex-direction: column;
            row-gap: 9px;
        }
    }

    &__item:not(:last-child) {
        border-bottom: 1px solid #e1e1e1;
    }
}
